
TestApp/AwesomeApp/node_modules/**/*
TestApp/AwesomeApp/.expo/*
TestApp/AwesomeApp/npm-debug.*
TestApp/AwesomeApp/*.jks
TestApp/AwesomeApp/*.p8
TestApp/AwesomeApp/*.p12
TestApp/AwesomeApp/*.key
TestApp/AwesomeApp/*.mobileprovision
TestApp/AwesomeApp/*.orig.*
TestApp/AwesomeApp/web-build/

# macOS
TestApp/AwesomeApp/.DS_Store
